# vim swap files
*.swp

# python stackdumps
*.stackdump

# compiled python modules
*.py[co]

# eclipse project files
*.project
*.pydevproject
*.settings

# pycharm
.idea/ 
.idea
.pytest_cache/

# python setuptools
build/
dist/
*.egg-info

.tox

docs/_build
.cache
